body{
    background-color: rgb(137, 137, 137);
    min-height: 100dvh;
    min-width: 100%;
    margin: 0;
}
h1{
    color: rgb(131, 228, 252);
    margin-top: 10rem;
    text-align: center;
    font-size: 3em;
    color: rgb(131, 228, 252); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    margin: 10rem 0 0 0; 
    font-family: 'Castellar', sans-serif; 
}
h2{
    color: rgb(131, 228, 252);
}
.marco div p{
    max-width: 45rem;
}
p{
    color: rgb(255, 255, 255);
    text-align: justify;
}
h3{
    color: rgb(131, 228, 252);
    text-align: center;
}

.marco{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    margin: 3rem 0;
}
.marco div{
    max-width: 50%;
    background-color: rgb(39, 42, 43);
    padding: 1rem;
    border-radius: 10px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.5rem 0;
    background-color: rgb(30, 35, 60);
    color: white;
    flex-direction: row;
    max-height: 5rem;
    z-index: 99;
    box-shadow: black 0px 1px 8px;
    top: 0;
    position: fixed;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    list-style: none;
    margin: 2rem 0;
  }
  header ul li a {
    font-size: 17.5px;
    color: white;
  }
  header ul li {
    position: relative;
    display: block;
    transition: all 0.2s;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 5px;
    border: 2px solid transparent;
    color: #fff;
  }
  #perguntas{
    margin-bottom: 9.6rem;
  }
  #perguntasComuns{
    margin-top: 10rem;
    text-align: center;
    
  }
img{
    max-width: 45rem;
}
.texto{
    text-align: center;
}

